body, html{
    width: 100%;
    height: 100%;
}

body{
    background-color: rgb(59, 48, 48);
    overflow: hidden;
}


.title{
    background-color: dimgrey;
    width: 100%;
    height: 5%;
    font-size: larger;
    color: whitesmoke;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    position: fixed;
    top: 0;
    margin: 0px;
}

.menu{
    position: fixed;
    top: 0%;
    margin: 0px;
    padding-top: 10px;
    width: 100%;
    height: 4%;
    background-color: black;
    border-radius: 10px;
}

.menu button{
    float: right;
    border: none;
    background-color: black;
    color: whitesmoke;
    height: 100%;
}

.menu button:hover{
    background-color: darkblue;
}

.root{
    height: 65%;
    position: fixed;
    top: 8%;
    left: 0%;
    background-color: black;
    color: rgb(197, 194, 179);
    width: 20%;
    float: left;
    margin: 5px;
    overflow: scroll;
    border-radius: 10px;
}

.disp{
    background-color: black;
    color: rgb(197, 194, 179);
}



.root div{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}



.file, .dir{
    position: relative;
    left: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.active{
    color: red;
    background-color: teal;
}

.display{
    height: 65%;
    position: fixed;
    top: 8%;
    left: 22%;
    float: left;

    background-color: black;
    width: 78%;
    margin: 5px;
    border-radius: 10px;
}

.terminal{
    position: fixed;
    bottom: 10px;
    left: 10px;
    height: 20%;
    width: 98%;
    margin: 5px;
    background-color: black;
    border-radius: 10px;
}



.disp:hover{
    color: black;
    background-color: whitesmoke;
}



